<app-navbar></app-navbar>



<div class="container-fluid nm text-white">
  <div class="row d-flex justify-content-center">
  <div class="border border-white m-5 p-3">
    <div class="text-center">
    <h1>{{blog.title}}</h1>
    <small class="font-weight text-white-50">Author:-<a class="text-primary" data-toggle="tooltip" title="View User" (click)="viewProfile(blog.userId.userId)">{{blog.userId.name}}</a></small>
    </div>
      <div class="border-top border-bottom border-white p-4">
      <h3>{{blog.content}}</h3>
      </div>
    <div class="mt-3">
      <textarea class="bg-light" cols="90" id="comment" name="comment" placeholder="Post comment here." [(ngModel)]="comment.comment"></textarea>
    </div>
    <button class="btn btn-info" (click)="postComment(comment.comment, blog)">Post</button>

  <div class="mt-4">
    <h2>Comments</h2>
    <div *ngFor="let comment of allComments.slice().reverse()">
      <div class="d-flex border border-danger p-3">
        <div>
          <div>
            <h5>{{comment.comment}}</h5>
          </div>
          <small (click)="viewProfile(comment.user.userId)"><i>{{comment.user.name}}</i></small>
        </div>
        <div class="ml-auto">
          <button class="btn btn-primary btn-sm mt-2" (click)="viewProfile(comment.user.userId)">View Profile</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>



