.qq
{
  color: white;
  font-size: 100px;
}
.ww
{
  background-image: url("../../assets/images/b5.jpg");
  background-size: cover;

}
.as
{
  font-size: 50px;
  color: white;
}
.ys
{
  width: 250px;
  padding: 3px;
}
.vv
{
  height: 250px;
}
