<app-navbar></app-navbar>
<div class="container-fluid mt-5 bg-light" style="padding-bottom: 100px;">

  <div class="row">
    <div class="col-sm-4">
      <div class="bg-white mt-4 mb-4 position-fixed" style="padding-right: 70px; padding-left: 70px;">
        <h2 class="text-left ml-4 text-black-50 font1 mt-3">Other Features</h2>
        <hr>
        <a class="btn btn-primary text-white w-100 mb-3"><i class="fa p-1">&#xf0c0;&nbsp;</i>Create Group</a>
        <a class="btn btn-primary text-white w-100 mb-3">Followers</a>
        <a class="btn btn-primary text-white w-100 mb-3">Following</a>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12 mt-3">

          <div class="bg-white m-2 p-3" *ngFor="let blog of blogs">
            <div class="d-flex">
              <div>
                <div class="font-weight-bold" style="font-size: 20px;">{{blog.userId.name}}</div>
                <div class="font-weight text-black-50">{{blog.title}}</div>
              </div>
              <div class="ml-auto">
                <div class="dropdown dropleft float-right" *ngIf="currentUser == blog.userId.email">
                  <button type="button" class="btn btn-primary btn-sm dropdown-toggle mr-3" data-toggle="dropdown">
                    Options
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Private</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
                <div>
                  <small class="text-dark"><i class="fa p-1">&#xf0ac;&nbsp;</i>{{blog.date | date: 'shortDate'}}</small>
                </div>
              </div>
            </div>
            <hr>
            <p class="pb-3">{{blog.content}}</p>

          </div>
        </div>

      </div>
    </div>


  </div>
</div>
