
.pp
{
  border: 4px solid white;
  border-radius: 4px;
}
.imp
{
  border: 3px solid white;
  border-radius: 4px;
}
.ll
{
  background-image: url("../../assets/images/b8.jpg");
  background-size: cover;
  min-height: 600px;
}
